.blog-full{
  color: $gray;
  font-family: $mont;
  padding: 2%;
  grid-area: "blog-full";
  grid-column: span 3;

.blog-date {
    font-size: em(12);
    font-style: italic;
    color: $darkred;
    padding:3%;
    border-bottom: 2px $darkgray solid;
  }

.blog-header{
  margin-top: 2%;
}
   img{
     width: 90%;
     display: block;
     margin: auto;
   }

  h3{
      color: $gray;
      margin-top: 2%;
  }
}

.blog-content{
  background-color: white;
  text-align: left;
}

.blog-search{
  background-color: none;
  padding-top: 4%;
  padding-bottom: 4%;
  grid-area: "blog-search";
}

.text{
  height: 20px;
  width: 40%;
  margin: auto;
  display: inline;
  padding: 2%;
  font-family: $raleway;
  font-size: em(13);
  color: $gray;
  background-color: $darkgray;
}

.submit{
  color: white;
  background-color: $red;
  font-family: $raleway;
  font-size: em(12);
  width: 23%;
  display: block;
  padding: 2%;
  margin: auto;
}

.recent-posts{
  grid-area: "recent-posts";
  grid-column: span 3;
  width: 70%;
  margin: auto;
  background-color: $gray;
  margin-bottom: 4%;
  margin-top: 2%;
}

.recent-posts ul{
  @include no-bullets;
  display: inline;
  margin-bottom: 3%;
  li{
    text-align: center;
    color: white;
    }
  }

.recent-posts a{
  position: absolute;
  img{
    position: relative;
    width: 20%;
    margin-right: 60%;;
    margin-top: 2%;
  }
}

// MEDIA QUERIES

@media (min-width: 390px){
  .recent-posts a{
    img{
      width: 17%;
      margin-right: 67px;
      margin-top: -1px;
    }
  }
}

  @media (min-width: 471px){
    .recent-posts a{
      img{
        width: 12%;
        margin-right: 92px;
        margin-top: -1px;
      }
    }
}
@include breakpoint(tablet){
.recent-posts img{
  width: 5%;
  }

 .blog-full{
   width: 90%;
   margin: auto;
 }

  .blog-full img{
    width: 70%;
  }

  .blog-search{
    padding: 2%;
  }

  .submit{
    width: 10%;
    padding: 1%;
  }

  .recent-posts {
    width: 40%;

  .red-arrow{
    width: 11%;
    margin-left: -50px;
  }
  }
}

@media (min-width: 1037px){
  .recent-posts a{
    img{
      margin-top: 1px;
    }
  }
}

@include breakpoint(regular-screen){
 .blog-full{
   width: 70%;
   margin: auto;
   .blog-header{
     margin-top: 15%;
   }
 }

 .blog-search{
   padding: 1%;
 }

  .blog-full img{
    width: 56%;
  }

  .recent-posts {
    width: 30%;
    .red-arrow{
      width: 12%;
      margin-top: -1px;
  }
}

  .submit{
    width: 7%;
    padding: 1%;
  }
}
