.mica-looking{
  width: 60%;
  margin: auto;
  display: block;
  margin-top: 6%;
}
.shout{
   ul{
     color: $darkred;
     line-height: em(30);
     @include no-bullets;
     color: white;
     font-family: $mont;
     padding: 3%;
     margin: auto;
     width:90%;
     margin-left: 22%;
     margin-right: 4%;
     li{
       line-height: em(40);
       text-align: left;
       margin: auto;
       color: $darkred;
     }

     img{
       margin-left: -40px;
       margin-top: 7px;
       width: 10%;
       padding-right: 20px;
     }

     a{
       color: white
   }
       a:hover{
         color: $darkred;
     }


     a{
       color: $darkred;
   }
       a:hover{
         color: $darkgray;
     }
   }
 }

.hours table{
  border: none;
  margin-bottom: 50px;
}

.rwd-table{
  margin: auto;
  margin-top: 4%;
  margin-bottom: 8%;
  padding: 1%;
  background-color: white;
  border: 2px $darkgray solid;
  width: 60%;
    td{
      background-color: none;
      padding: none;
    }
}

.avail-head{
  color: $red;
  font-size: em(20);
  text-align: center;
  margin-bottom: 2px;
}

.price{
  color: $gray;
}

// FORM

form{
  background-color: white;
  padding: 2%;
  width: 96%;

  label{
    color: $darkgray;
    font-family: $mont;
    font-size: em(20);
    padding: 1%;
  }

  textarea{
    font-family: $mont;
    color: $gray;
    font-size: em(18);
    padding: 1%;
    width: 80%;
  }

  input{
    font-family: $mont;
    color: $gray;
    font-size: em(18);
    padding: 1%;
  }
}

body {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

#contact-form {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

label {
  font-weight: 200;
}

textarea,input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 500;
  font-size: 25px;
  color: $darkgray;
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed $darkgray;
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;
  resize: none;
  width: 90%;
  border-color: $darkgray;
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed $darkgray;
}

textarea:focus:required:valid {
  border: 2px dashed $darkgray;
  border-bottom: 2px dashed $darkgray;
}

textarea:required:valid {
  border-bottom: 2px dashed $darkgray;
}

input {
  border-bottom: 2px dashed $darkgray;
}

input:required,
textarea:required {
  border-bottom: 2px dashed $darkgray;
}

input:focus {
  border-bottom: 2px dashed $darkgray;
  background-color: white;
}

input:required:valid {
  border-bottom: 2px dashed $darkgray;
}

input:required:invalid {
  color: $gray;;
}

::-webkit-input-placeholder {
  text-align: center;
  color: $gray;
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder {
  text-align: center;
  color: $darkgray;
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  text-align: center;
  color: $darkgray;
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: $darkgray;
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: $gray;
}

.send-icn:hover {
  fill: $darkred;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
  font-family: $mont;
  text-transform: uppercase;
  color: $darkred;
}

.website {
  opacity: 1;
  font-size: 16px;
  color: $darkgray;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;
}

.website a {
  color: $darkgray;
}

.contact-form p{
  font-family: $raleway;
}

.contact-head{
  color: $darkgray;
  font-size: em(26);
  font-weight: bold;
}

// MEDIA QUERIES

@media (min-width: 505px){
  .shout{
     img{
       width: 6%;
     }
}
}

@include breakpoint(tablet){
  .grid-contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "nav"
      "mica-looking"
      "shout"
      "rwd-table"
      "contact-form"
      "footer";
    }

    .nav{
        grid-column: span 3;
        grid-area: "nav";
    }

      .mica-looking{
        grid-column: span 2;
        grid-area: "mica-looking";
      }

      .shout{
        margin-top: 6%;
        width: 90%;
        padding-right: 100px;
        grid-area: "shout";

        img{
          margin-left: -40px;
          margin-top: 7px;
          width: 10%;
          padding-right: 20px;
        }

        h3{
          color: $gray;
        }
        grid-column: span 1;
        background-color: white;

       ul{
         color: $darkred;
         line-height: em(30);
          margin-right: 100px;

         a{
           color: $darkred;
       }

           a:hover{
             color: $darkgray;
         }
       }
      }

      .rwd-table {
        grid-column: span 1;
        width: 90%;
        margin-bottom: 4%;
        margin: auto;
        grid-area: "rwd-table";
      }

      .contact-form{
        grid-column: span 2;
        grid-area: "contact-form";
      }

      .footer {
        grid-column: span 3;
        grid-area: "footer";
      }

      .grid-contact .rwd-table{
          margin: 0%;
        font-size: em(13);
      }
    }

    @include breakpoint(regular-screen){
      .mica-looking{
        width: 50%;

      }
    }
