.grid-grooming {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nav"
    "red-info"
    "white-info"
    "gray-info"
    "footer";
}

.reservations{
  color: $darkred;
  font-family: $raleway;
  font-size: em(16);
  float: left;
  width: 25%;
  text-align: center;
  position: absolute;
  margin-top: 400px;
  margin-left: 20px;
  border: solid $red 2px;

    a{
      text-decoration: none;
    }

    a:hover{
      font-weight: bold;
    }
}

.quote{
  width: 20%;
  margin: auto;
  padding: 1%;
  background-color: $gray;
  text-align: center;
  float: right;
  margin-top: 5%;
}

.white-contact{
  color: white;
  font-family: $mont;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: em(14);
}

.white-contact:hover{
    color: $darkred;
  }

.red-arrow{
  width: 10%;

}
