.passion{
  background-color: $red;
  padding: 4%;
  text-align: center;
  margin-top: 3%;
}

.phone-number{
  width: 100%;
  float: right;
  margin-right: 2%;
}

.phone-number:hover{
  color: $darkgray;
}

.p {
  color: white;
  font-family: $mont;
  padding: 3%;
}

.call-to-action {
  color: white;
  font-size: em(24);
  width: 50%;
  clear: none;
  font-family: $mont;
  padding: 3%;
  padding-top: 30px;
}

a {
  text-decoration: none;
}

.call-to-action:hover {
  color: $darkgray;
}

.connect{
  background-color: white;
  padding: 4%;
    h2{
      color: $darkgray;
      font-size: 1.8125em;
    }
}

.home-icons{
  width: 70%;
  margin: auto;
}

.big-f{
  width: 10%;
  margin: auto;
  padding: 2%;
}

.big-f:hover{
  opacity: 0.3;
}

.big-g{
  width: 10%;
  margin: auto;
  padding: 2%;
}

.big-g:hover{
  opacity: 0.3;
}

.big-y{
  width: 10%;
  margin: auto;
  padding: 2%;
}

.big-y:hover{
  opacity: 0.3;
}

.connect p{
  text-align: center;
}

.upper {
  color: $darkgray;
  font-family: $mont;
  text-transform: uppercase;
  padding: 3%;
  font-weight: lighter;
}

.mica{
  width: 30%;
  float: right;
  margin-top: 30px;
  padding: 0%;
  clear: none;
}


// ANIMATE PUPPY


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.mica:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

// END ANIMATION

iframe {
    position: relative;
}

.footer{
  margin-top: 3%;
}

// MEDIA QUERIES

 @include breakpoint(tablet){
   .grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas:
      "phone-number"
      "logo"
       "full-nav"
       "passion"
       "connect"
       "movie"
       "footer";
   }

   .phone-number{
     grid-column: span 2;
     margin-bottom: 0%;
     padding: 0%;
     grid-area: "phone-number";
     margin-right: 4%;
   }

   .logo{
     grid-column: span 2;
     grid-area: "logo";
   }

   .full-nav{
     grid-column: span 3;
     grid-area: "full-nav";
     padding-right: 6%;
   }

   .passion{
     grid-column: span 1;
     margin-bottom: 4%;
     background-color: $gray;
     margin-top: 4%;
     grid-area: "passion";
   }

   .connect{
     grid-column: span 1;
     background-color: $darkgray;
     margin-bottom: 4%;
     margin-top: 4%;
     grid-area: "connect";

     h2{
       color: white;
       font-size: 1.8125em;
     }

     p{
       color: white;
     }
   }

   .movie{
     width: 100%;
     grid-column: span 2;
     grid-area: "movie";
   }
   .movie-content{
     position: relative;
     width: 40%;
     margin: auto;
   }

   .footer{
     margin-top: 2%;
     grid-column: span 2;
     grid-area: "footer";
   }
 }

@include breakpoint(regular-screen){

  .phone-number{
    margin-right: 7%;
  }

  .movie{
    width: 100%;
  }
  .movie-content{
    position: relative;
    width: 40%;
  }
}
