.grid-training th{
  color: $gray;
  text-transform: none;
  font-size: em(16);
  margin-bottom: 30px;
  // grid-template-areas: "nav"
  //   "reservations"
  //   "red-info"
  //   "white-info"
  //   "gray-info"
  //   "footer";
}

// .grid-training .logo{
//   margin-bottom: 8%;
//   .red-info{
//     margin-top: 4%
//   }
// }

.gray-info img{
  margin-left: auto;
}

.reservations{
  color: $darkred;
  font-family: $raleway;
  font-size: em(12);
  font-weight: bold;
  padding: 1%;
  width: 25%;
  text-align: center;
  margin: auto;
  border: solid $red 2px;
  position: static;
  grid-area: "reservations";

    a{
      text-decoration: none;
    }

    a:hover{
      font-weight: bold;
    }
}

// .rwd-table{
//   padding: 1%;
// }


// MEDIA QUERIES

@include breakpoint(tablet){
  .grid-training {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nav"
      "red-info"
      "white-info"
      "gray-info"
      "footer";

      .full-nav{
        grid-column: span 2;
      }

      .reservations{
        grid-column: span 2;
        margin-top: 2%;
        font-size: em(17);
      }

      .red-info{
        grid-column: span 1;
        margin-top: 6%;
      }

      .white-info{
        grid-column: span 1;
        background-color: $gray;
        margin-top: 6%;
        p{
          color: white;
        }
      }

      .white-info h3{
        color: white;
      }

      .gray-info{
        grid-column: span 2;
        margin: auto;
        width: 100%;
      }

    .rwd-table{
      margin-top: 4%;
      margin-bottom: 8%;
      background-color: white;
      width: 50%;
    }

      .footer{
        grid-column: span 2;
      }

      .quote {
        width: 20%;
        padding: 1%;

        .red-arrow{
          width: 15%;
        }
      }
      //
      // .rwd-table {
      //   background:$darkgray;
      //   color: #fff;
      //   overflow: hidden;
      //   font-family: $mont;
      //   width: 70%;
      //   line-height: em(32);
      //   background-color: white;
      //   margin-bottom: 20px;
      // }

}
}
