/*------------------------------------*\
    #THEME
\*------------------------------------*/

// COLOR


// $primary: ;


// TYPOGRAPHY

.body-copy{
  color:$darkgray;
  font-family: $raleway;
  padding: 3%;
  font-size: em(14);
}

// $sans-serif: ;
// $serif: ;


// SPACING, MARGINS, AND PADDING

// $nav-padding: ;
