/*------------------------------------*\
    #HEADER
\*------------------------------------*/

h1{
  color: white;
  font-family: $raleway;
  font-size: em(29);
  padding: 3%;
}

h2{
  color: $red;
  font-family: $raleway;
  text-align: center;
  padding: 3%;
}

h3{
  color: white;
  font-family: $raleway;
  text-align: center;
  font-size: em(27);
  padding: 3%;
}

h4{
  color: white;
  font-family: $raleway;
  text-align: center;
  font-size: em(25);
  text-transform: uppercase;
  padding: 3%;
}

.phone-number{
  text-align: right;
  float: right;
  font-size: em(16);
  color: $gray;
}
