/* ------------*\
#NAV
/*-------------*/

.logo{
	padding-top: 1%;
	padding-left: 7%;
	width: 25%;
	margin: auto;
	display: block;
	float: left;
}

.nav{
	padding: 0%;
	@include no-bullets;
}

.full-nav{
	margin-top: 6%;
	margin-right: 5%;
	margin-bottom: 10%;
	@include no-bullets;
	font-family: $raleway;
	font-weight: bold;

	ul{
		text-align: right;
		li{
		margin-right: 6%;
		margin-top: 1%;

	}
	}

	ul a{
		color: $darkgray;
		font-size: em(20);
		line-height: em(30);
		}
}
.phone-number h2{
	float: right;
}

// MEDIA QUERIES

@include breakpoint(tablet){

	.phone-number h2{
		padding-right: 55px;
	}

	.logo{
		padding-top: 0%;
		width: 20%;
	}

	.nav{
		margin-bottom: 0%;
	}

.full-nav {
	font-family: $raleway;
	clear: both;

	ul {
		padding-right: 1%;
		padding-top: 3%;
		padding-bottom: 0%;

		> li {
			@include no-bullets;
			color: $darkgray;
			text-align: right;
			font-size: em(23);
			line-height: em(42);
			text-decoration: none;
			> a {
					text-decoration: none;
					color: $darkgray;

				a:visited{
					color:$darkgray;
				}

				a:active{
					color: $darkred;
				}

				&:hover {
					color: $red;
					text-decoration: none;
				}
			}
		}
	}
	}
}

@include breakpoint(regular-screen){
	.logo{
		// padding-top: 3%;
		width: 15%;
		margin-bottom: 0%;
	}

	.phone-number h2{
		padding: 1%;
		float: right;
	}

	.main{
		display: flex;
	}

	.full-nav{
		font-size: em(12);
		margin-bottom: 0%;
			ul{
				margin-bottom: 0%;
				padding-bottom: 0%;

				li{
					display: inline;
					padding-right: 3%;
					padding-left: 3%;
				}
			}
	}
}
