/* ------------*/
#NAV
/*-------------*/




// NAV EXAMPLE BELOW

.aside{
  background: rga($primary, .66);
  grid-auto-column: 1 / span 3;
  padding: 35px 50px;

  @include breakpoint(portrait){
    display: block;
  }
}

.nav{
  position: fixed;
  bottom: 35px;


  ul{
    @include no-bullets;

    li{
      text-transform: uppercase;
      margin-bottom: 20px;
      font-family: $lato;
      font-size: em(18px);
      letter-spacing: 2.7px;
      line-height: 1.33px;
      text-transform: uppercase;
      margin-bottom: 20px;

      &.active{
        margin-left:-#{nav-left-padding};

      :before{
        content: '';
        border-top: 1px solid white;
        content: '';
        float: left;
        top: 15px;
        width: calc(#{$nav-left-padding} - 10px);
        margin-right:10px;
      }
      }

      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}




.hamburger{
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: map-get($zindex, hamburger);

  @include breakpoint(portrait){
    display: none;

  }


  svg{
    fill:black;
    height: 30px;
    width: 30px;
  }
}

.mobile-nav{

  background: $primary;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: -100%;
  transition: bottom 0.25s ease-in-out, top 0.25s ease-in-out;
  justify-content: center;
  z-index: map-get($zindex, mobile-nav);

  &.open{
    bottom: 0;
    top:0;
  }

  &__close{
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  a{
    color: white;
    font-size: em(32px);
    text-decoration: none;
  }
}

  ul{

    @inlcude no-bullets;

    li{
      text-transform: uppercase;
      margin-bottom: 20px;
      font-family: $lato;
      font-size: em(18px);
      letter-spacing: 2.7px;
      line-height: 1.33px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;

      &.active{
        margin-left:-#{nav-left-padding};
      }

      a{
        color: white;
        text-decoration: none;
      }
    }
  }
  }

  // NAV EXAMPLE ABOVE
