/* ------------*\
#NAV
/*-------------*/

.logo{
	padding-top: 1%;
	padding-left: 7%;
	width: 30%;
	margin: auto;
	margin-bottom: 4%;
	display: block;
	float: left;
}

.nav{
	width: 60%;
	padding: 0%;
	margin-right: 5%;
}

.full-nav{
	ul{
		text-align: right;
		li{
		margin-right: 6%;
	}
	}

	ul a{
		color: $darkgray;
		font-size: em(20);
		line-height: em(30);
		}
}

// HAMBURGER NAV

// #menu a{
//   text-decoration: none;
//   color: $darkgray;
//   transition: color 0.3s ease;
// }
//
// #menu a:hover{
//   color: $red;
// }
//
// #menuToggle{
//   display: block;
//   position: relative;
//
//   top: 50;
//   left: 50px;
//   z-index: 1;
//   -webkit-user-select: none;
//   user-select: none;
// }
//
// #menuToggle input{
//   display: block;
//   width: 40px;
//   height: 32px;
//   position: absolute;
//   top: -7px;
//   left: -5px;
//   cursor: pointer;
//   opacity: 0;
//   z-index: 2;
//   -webkit-touch-callout: none;
// }
//
// #menuToggle span{
//   display: block;
//   width: 43px;
//   height: 6px;
//   margin-bottom: 5px;
//   position: relative;
//   background-color: $darkgray;;
//   border-radius: 3px;
//   z-index: 1;
//   transform-origin: 4px 0px;
//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//               opacity 0.55s ease;
// }
//
// #menuToggle span:first-child{
// 	transform-origin: 0% 0%;
// }
//
// #menuToggle span:nth-last-child(2){
//   transform-origin: 0% 100%;
// }
//
// #menuToggle input:checked ~ span{
//   opacity: 1;
//   transform: rotate(45deg) translate(-2px, -1px);
//   background: $darkgray;
// }
//
// #menuToggle input:checked ~ span:nth-last-child(3){
//   opacity: 0;
//   transform: rotate(0deg) scale(0.2, 0.2);
// }
//
// #menuToggle input:checked ~ span:nth-last-child(2){
//   opacity: 1;
//   transform: rotate(-45deg) translate(0, -1px);
//
// }
//
// #menu{
//   width: 80%;
//   padding: 50px;
//   background: none;
//   list-style-type: none;
//   -webkit-font-smoothing: antialiased;
//   transform-origin: 0% 0%;
//   transform: translate(-100%, 0);
//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
// }
//
// #menu li
// {
// 	a{
// 		color: $gray;
// 	}
//   padding: 10px 0;
//   font-size: em(22);
// }
//
// #menu ul a{
// 	color: $gray;
// }
//
// #menu input{
// 	background-color: $darkgray;
// }
//
// #menuToggle input:checked ~ ul
// {
//   transform: scale(1.0, 1.0);
//   opacity: 1;
// }

// MEDIA QUERIES

@include breakpoint(tablet){
	.logo{
		padding-top: 3%;
	}

	.ham{
		display: none;
	}

.full-nav {
	font-family: $raleway;

	ul {
		padding-right: 8%;
		padding-top: 3%;
		padding-bottom: 0%;

		> li {
			@include no-bullets;
			color: $darkgray;
			text-align: right;
			font-size: em(23);
			line-height: em(42);
			text-decoration: none;
			> a {
					text-decoration: none;
					color: $darkgray;

				a:visited{
					color:$darkgray;
				}

				a:active{
					color: $darkred;
				}

				&:hover {
					color: $red;
					text-decoration: none;
				}
			}
		}
	}
	}
}
